
@use 'variables' as *;



.stats {
  background: $color-accent;
  color: $color-white;
  padding: 2rem 0;

  .stats-flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
  }

   .stat-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 500;

    .stat-icon {
      width: 48px;
      height: 48px;
      margin-bottom: 0.5rem;
      filter: brightness(0) invert(1); 
    }
  }
}
